name: Go Lint

on:
  pull_request:
  push:

jobs:
  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'

      - name: Go vet
        working-directory: gateway
        run: go vet ./...
